*{margin:0;}

.chat_ui
{
	background-color:#ccc;
	padding: 7px;
}

.chat_ui .clear
{
	clear: both;
}

.chat_ui .blank
{
	clear: both;
	height: 4px; 
}

.chat_ui .msg
{
	height: calc(100% - 72px);
	overflow-y: scroll;
	padding-bottom:12px;
	font-size: 12px;
}

.chat_ui .msg::-webkit-scrollbar {
    width: 10px;
    
}
.chat_ui .msg::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.chat_ui .msg::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
    padding-bottom:12px;
}

.chat_ui .msg .time
{
	color:#999;
	font-size: 10px;
}

.chat_ui .msg .mytalk
{
	float: right;
	width: 100%;
}

.chat_ui .msg .mytalk .time
{	
	float: right;
	bottom: 0;
}

.chat_ui .msg .mytalk .a
{
	border:1px solid red;
	float: right;
	position: relative;
	min-height: 24px;
	max-width: calc(100% - 64px);
	left: 2px;
	color:white;
	background-color: #FF6D2D;
	border:none;
	border-radius: 3px;
	z-index: 2;
	padding: 6px;
	word-break: break-all;
	vertical-align:middle;
}

.chat_ui .msg .mytalk .b
{
	float: right;
	position: relative;
	width: 8px;
	height: 22px;
	background: url(../resources/img/chat_balloon_yellow.right.png) no-repeat;
	z-index: 1;
}

.chat_ui .msg .othertalk
{
	float: left;
	width: 100%;
}

.chat_ui .msg .othertalk .profile_image
{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 14px; 
}

.chat_ui .msg .othertalk .box
{
	float: left;
	width: calc(100% - 48px);
}

.chat_ui .msg .othertalk .box .profile_name
{
	font-size: 12px;
}

.chat_ui .msg .othertalk .box .a
{
	float: left;
	position: relative;
	width: 8px;
	height: 22px;
	background: url(../resources/img/chat_balloon_white.left.png) no-repeat;
	z-index: 1;
}

.chat_ui .msg .othertalk .box .b
{
	float: left;
	position: relative;
	min-height: 24px;
	max-width: calc(100% - 64px);
	left: -2px;
	background-color: #ffffff;
	border-radius: 3px;
	z-index: 2;
	padding: 6px;
	word-break: break-all;
}

.chat_ui .msg .othertalk .box .time
{
	float: left;
}

.chat_ui .sendmsg .textarea
{
	float: left;
	width: calc(100% - 50px);
	height: 68px;
	border:none;
	border-radius: 8px 0px 0px 8px;
	margin: 0px 0px 0px 0px;
	padding: 8px;
	resize: none;
}
.textarea:focus{
	outline:none;
}

.chat_ui .sendmsg .button
{
	float: right;
	width: 50px;
	height: 68px;
	background-color: white;
	border-radius: 0px 8px 8px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	display: table;
	cursor: pointer;
}

.chat_ui .sendmsg .button i
{
	margin: 20px auto;
	color: #ddd;
	font-size: 20px;
	vertical-align: middle;
}
.chat_ui .sendmsg .button i:hover{
	color:#bbb;
	transition: all .3s ease;
}
.chat_ui .sendmsg .button i:active{
	color:#999;
	transition: all .3s ease;
}