/* *{margin:0;} */

.chat_ui
{
	background-color: #9bbad8;
	padding: 4px 4px 0px 4px;
}

.chat_ui .clear
{
	clear: both;
}

.chat_ui .blank
{
	clear: both;
	height: 4px; 
}

.chat_ui .msg
{
	height: calc(100% - 72px);
	overflow-y: scroll;
	
	font-size: 12px;
}

.chat_ui .msg .time
{
	font-size: 10px;
}

.chat_ui .msg .mytalk
{
	float: right;
	width: 100%;
}

.chat_ui .msg .mytalk .time
{
	float: right;
	bottom: 0;
}

.chat_ui .msg .mytalk .a
{
	float: right;
	position: relative;
	min-height: 24px;
	max-width: calc(100% - 64px);
	left: 2px;
	background-color: #ffec42;
	border-radius: 3px;
	z-index: 2;
	padding: 0px 4px 0px 4px;
	word-break: break-all;
}

.chat_ui .msg .mytalk .b
{
	float: right;
	position: relative;
	width: 8px;
	height: 22px;
	background: url(../resources/img/chat_balloon_yellow.right.png) no-repeat;
	z-index: 1;
}

.chat_ui .msg .othertalk
{
	float: left;
	width: 100%;
}

.chat_ui .msg .othertalk .profile_image
{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 14px; 
}

.chat_ui .msg .othertalk .box
{
	float: left;
	width: calc(100% - 48px);
}

.chat_ui .msg .othertalk .box .profile_name
{
	font-size: 12px;
}

.chat_ui .msg .othertalk .box .a
{
	float: left;
	position: relative;
	width: 8px;
	height: 22px;
	background: url(../resources/img/chat_balloon_white.left.png) no-repeat;
	z-index: 1;
}

.chat_ui .msg .othertalk .box .b
{
	float: left;
	position: relative;
	min-height: 24px;
	max-width: calc(100% - 64px);
	left: -2px;
	background-color: #ffffff;
	border-radius: 3px;
	z-index: 2;
	padding: 0px 4px 0px 4px;
	word-break: break-all;
}

.chat_ui .msg .othertalk .box .time
{
	float: left;
}

.chat_ui .sendmsg .textarea
{
	float: left;
	width: calc(100% - 68px);
	height: 64px;
	border-radius: 8px 0px 0px 8px;
	margin: 0px 0px 0px 0px;
	padding: 2px 2px 2px 2px;
	resize: none;
}

.chat_ui .sendmsg .button
{
	float: right;
	width: 62px;
	height: 68px;
	background-color: #ffec42;
	border-radius: 0px 8px 8px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	display: table;
	cursor: pointer;
}

.chat_ui .sendmsg .button p
{
  display: table-cell;
  vertical-align: middle;
}