<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member.MypageImpl">
	<!-- 프로필 -->
	<select id="profile" resultType="member.MemberDTO">
		SELECT * FROM member WHERE
		id=#{0}
	</select>
	<update id="proEdit">
		UPDATE member
		SET pw=#{pw}, phone=#{phone}, email=#{email}
		WHERE id=#{id}
	</update>
	<select id="getImage" resultType="member.MemberDTO">
		SELECT image_path, flag FROM
		member WHERE id=#{0}
	</select>

	<!-- 인터뷰 -->
	<insert id="sitterApply">
		INSERT INTO interview (idx, parents_id, sitter_id, request_time, parents_agree, sitter_agree, request_idx)
			VALUES (seq_interview_idx.nextval, #{1}, #{2}, #{3}, 'F', 'F', #{0})
	</insert>
	<insert id="parentsApply">
		INSERT INTO interview (idx, parents_id, sitter_id, request_time, parents_agree, sitter_agree)
			VALUES (seq_interview_idx.nextval, #{0}, #{1}, #{2}, 'F', 'F')
	</insert>
	<select id="ticketCount" resultType="int">
		SELECT ticket FROM member WHERE id=#{0}
	</select>
	<update id="updateCount">
		UPDATE member SET ticket=(ticket-1) WHERE id=#{0}
	</update>
	<select id="interList" resultType="advertisement.InterviewDTO">
      select M.name as parents_name, MM.name as sitter_name, I.sitter_id, I.parents_id , I.idx
         from interview I
          join member M
              on I.parents_id = M.id
          join member MM
              on I.sitter_id = MM.id 
        WHERE idx=#{0}
   </select>
	<select id="sitInterList" resultType="advertisement.InterviewDTO">
		SELECT *FROM interview WHERE sitter_id=#{0} ORDER BY idx DESC
	</select>
	<select id="parInterList" resultType="advertisement.InterviewDTO">
		SELECT * FROM interview WHERE parents_id=#{0} ORDER BY idx
		DESC
	</select>
	<delete id="delInterList">
		DELETE FROM interview WHERE idx=#{0}
	</delete>
	<!-- 수락 상태 변경 -->
	<update id="sitAgree">
		UPDATE interview SET sitter_agree='T' WHERE
		idx=#{idx}
	</update>
	<update id="parAgree">
		UPDATE interview SET parents_agree='T' WHERE
		idx=#{idx}
	</update>
	<select id="andsitInterList" resultType="advertisement.InterviewDTO"><!-- 앱에서 수락안된 인터뷰 목록 -->
		select M.name as parents_name, MM.name as sitter_name, I.*
         from interview I
          join member M
              on I.parents_id = M.id
          join member MM
              on I.sitter_id = MM.id 
        WHERE sitter_agree='F' and sitter_id=#{0}
	</select>
	<select id="andparInterList" resultType="advertisement.InterviewDTO">
		select M.name as parents_name, MM.name as sitter_name, I.*
         from interview I
          join member M
              on I.parents_id = M.id
          join member MM
              on I.sitter_id = MM.id 
        WHERE parents_agree='F' and parents_id=#{0}
	</select>
	<select id="andsitDiaryList" resultType="advertisement.InterviewDTO"><!-- 앱에서 시터가 알림장쓸 목록 -->
		select M.name as parents_name, MM.name as sitter_name, I.*
         from interview I
          join member M
              on I.parents_id = M.id
          join member MM
              on I.sitter_id = MM.id 
        WHERE sitter_agree='T' and parents_agree='T' and sitter_id=#{0}
	</select>
	<!-- 알림장 -->
	<insert id="sendDiary">
		INSERT INTO diary (its_idx, regidate, send_id, rece_id, content, flag, idx)
		VALUES (seq_diary_idx.nextval, sysdate, #{1}, #{2}, #{3}, 'diary',
		#{0})
	</insert>
	<select id="sitDiary" resultType="mutiBoard.DiaryDTO">
		SELECT * FROM diary WHERE send_id=#{0} AND idx=#{1}
	</select>
	<select id="parDiary" resultType="mutiBoard.DiaryDTO">
		SELECT * FROM diary WHERE rece_id=#{0} AND idx=#{1}
	</select>
	<select id="diaryView" resultType="mutiBoard.DiaryDTO">
		select M.name,d.content from diary D
    		join interview I
        		on D.idx = I.idx
		    join member M
		        on I.sitter_id = M.id
		    where its_idx=#{0}
	</select>

	<!-- 후기 -->
	<insert id="writeComment">
		INSERT INTO diary (its_idx, regidate, send_id, rece_id, content, flag, idx, starrate)
			VALUES (seq_diary_idx.nextval, sysdate, #{1}, #{2}, #{3}, 'comment', #{0}, #{4})
	</insert>
	<select id="receivedComment" resultType="mutiBoard.DiaryDTO">
		SELECT * FROM (
		SELECT Tb.*, rownum rNum FROM (
		SELECT * FROM diary WHERE flag='comment' and rece_id=#{0} ORDER BY its_idx
		DESC
		) Tb
		)
		WHERE rNum BETWEEN #{1} AND #{2}
	</select>
	<select id="sendedComment" resultType="mutiBoard.DiaryDTO">
  		SELECT * FROM (
  			SELECT Tb.*, rownum rNum FROM (
  				SELECT * FROM diary WHERE flag='comment' and send_id=#{0} ORDER BY its_idx DESC
  			) Tb
  		)
  		WHERE rNum BETWEEN #{1} AND #{2}		
	</select >
	<select id="CommentList" resultType="mutiBoard.DiaryDTO">
      SELECT * FROM diary WHERE flag='comment' and rece_id=#{0} ORDER BY its_idx
      DESC
   </select>
	<select id="edit" resultType="mutiBoard.DiaryDTO">
		SELECT * FROM diary WHERE
		flag='comment' and its_idx=#{0}
	</select>
	<update id="editAction">
		UPDATE diary SET content=#{1} WHERE its_idx=#{0}
	</update>
	<delete id="delAction">
		DELETE FROM diary WHERE flag='comment' and
		its_idx=#{0}
	</delete>
	<select id="receCount" resultType="int">
		SELECT count(*) FROM diary
		WHERE flag='comment' and rece_id=#{0}
	</select>
	<select id="sendCount" resultType="int">
		SELECT count(*) FROM diary
		WHERE flag='comment' and send_id=#{0}
	</select>
	<select id="getStarrate" resultType="int">
		SELECT starrate FROM member
		WHERE id=#{0}
	</select>
	<update id="setStarrate">
		UPDATE member SET starrate=#{1} WHERE id=#{0}
	</update>
	<update id="getPoint">
		UPDATE member SET point=(point+50) WHERE id=#{0}
	</update>
	<!-- 이용권 -->
	<select id="purchaseList" resultType="mutiBoard.OrderDTO">
		SELECT O.total_price,
		O.regidate, P.product_name, P.ticket
		FROM shop_order O inner join shop_products P
		on O.product_idx = P.idx
		WHERE id=#{0} ORDER BY regidate desc
	</select>
</mapper>