<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mutiBoard.ProductImpl">

	<select id="adminproductList" resultType="mutiBoard.ProductDTO">
		SELECT * FROM shop_products
	</select>

	<select id="productList" resultType="mutiBoard.ProductDTO">
		SELECT * FROM shop_products where flag='ticket' order by idx
	</select>
	<select id="premiumList" resultType="mutiBoard.ProductDTO">
		SELECT * FROM shop_products where flag='premium' order by idx
	</select>
	<!-- 상품 내용 보기 -->
	<select id="contentPage" resultType="mutiBoard.ProductDTO">
		select * from shop_products
		where idx=#{idx}
	</select>
	
	<insert id="insertProduct" parameterType="mutiBoard.ProductDTO">
		INSERT INTO shop_products (idx,product_name,price,content,image, flag)
		VALUES(seq_product_idx.nextval, #{product_name}, #{price},#{content}, #{image},#{flag})
	</insert>
	
	<update id="updateProduct" parameterType="mutiBoard.ProductDTO">
		UPDATE shop_products SET product_name=#{product_name}, price=#{price}, content=#{content}, image=#{image}
		where idx=#{idx}
	</update>
	
	<delete id="deleteProduct" parameterType="String">
		DELETE FROM shop_products where idx=#{idx}
	</delete>

<!--상품결제관리 리스트  -->
	<select id="orderList" resultType="mutiBoard.OrderDTO">
		SELECT * FROM shop_order
	</select>

	<insert id="insertOrder" parameterType="mutiBoard.OrderDTO">
		INSERT INTO shop_order (idx, id, product_idx, payment, info, total_price)
		VALUES(seq_order_idx.nextval, #{id}, ${product_idx},#{payment}, #{info}, ${total_price})
	</insert>
</mapper>
