<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mutiBoard.ProductImpl">

	<select id="productList" resultType="mutiBoard.ProductDTO">
		SELECT * FROM shop_products
	</select>

	<!-- 상품 내용 보기 -->
	<select id="contentPage" resultType="mutiBoard.ProductDTO">
		select * from shop_products
		where idx=#{idx}
	</select>
	
	<insert id="insertProduct" parameterType="mutiBoard.ProductDTO">
		INSERT INTO shop_products (idx,product_name,price,content,image)
		VALUES(seq_product_idx.nextval, #{product_name}, #{price},#{content}, #{image})
	</insert>


<!--상품결제관리 리스트  -->
	<select id="orderList" resultType="mutiBoard.OrderDTO">
		SELECT * FROM shop_order
	</select>

</mapper>
