<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="member.SitterImpl">

	<insert id="insertSitter">
		INSERT INTO sittermember
		(sitter_id,cctv_agree,introduction,personality_check,license_check,activity_time,residence1,
				residence2,residence3,pay,career)
		values(#{sitter_id}, #{cctv_agree},#{introduction}, #{personality_check},#{license_check},
		#{activity_time},#{residence1},#{residence2},#{residence3},#{pay},0)
	</insert>
	
	<!-- 트렁크가 나이 구하는 쿼리문 -->
	<select id="list" resultType="member.SitterMemberDTO">
		SELECT s.*, m.name, m.image_path, m.starrate,
			TRUNC(trunc(months_between(sysdate,m.birthday))/12)+1 age 
		from sittermember s
            inner join member m
               on s.sitter_id=m.id WHERE advertise='T' and permission='T' ORDER BY s.premium
	</select>
	
	<!-- 트렁크가 나이 구하는 쿼리문 -->
	<select id="adminSitterlist" resultType="member.SitterMemberDTO">
		SELECT s.*, m.name, m.image_path, m.starrate,
			TRUNC(trunc(months_between(sysdate,m.birthday))/12)+1 age 
		from sittermember s
            inner join member m
               on s.sitter_id=m.id
	</select>
	
	

	<select id="selectSitter" resultType="member.SitterMemberDTO">
		SELECT s.*, m.name, m.image_path, m.starrate, m.gender, m.phone,
			TRUNC(trunc(months_between(sysdate,m.birthday))/12)+1 age 
		from sittermember s
            inner join member m
               on s.sitter_id=m.id WHERE m.id=#{id}
	</select>
	
	<update id="updateSitter" parameterType="member.SitterMemberDTO">
		UPDATE sittermember
			SET residence1=#{residence1}, residence2=#{residence2}, residence3=#{residence3},
				activity_time=#{activity_time}, cctv_agree=#{cctv_agree}, pay=#{pay},
				introduction=#{introduction}
			WHERE sitter_id=#{sitter_id}
	</update>
	
	<update id="updateLicense" parameterType="String">
		UPDATE sittermember
			SET personality_check=#{0}
			WHERE sitter_id=#{1}
	</update>
	<update id="updateAdvertise" parameterType="String">
		UPDATE sittermember
			SET advertise=#{0}
			WHERE sitter_id=#{1}
	</update>
	
	

</mapper>